@use "../utilities/variables" as v;

main{
    width: 100%;
    height: auto;
}

h2, h3{
    width: 100%;
    font-size: 2.3rem;
    color: v.$tinto-malbec;
    display: flex;
    justify-content: center;
}

// CONTACTO
.intro-contacto{
    height: 100%;
    width: 100%;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px repeat(4, 1fr);
    grid-template-areas:
    "titulo"
    "horarios"
    "ubicacion"
    "whatsapp"
    "email"
    ;
}
.titulo-contacto{
    grid-area: titulo;
    font-weight: 500;
}
.minititle-contact{
    color: v.$fondo-claro;
    font-size: 1.7rem;
    font-weight: 100;
    text-align: center;
}
.miniinfo-contact{
    color: v.$fondo-claro;
    text-align: center;
    font-size: 1.3rem;
}
.horarios{
    grid-area: horarios;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: v.$blanco solid 1px;
    padding: 2rem;
    background-color: v.$tinto-malbec;
}
.ubicacion{
    grid-area: ubicacion;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: v.$blanco solid 1px;
    padding: 2rem;
    background-color: v.$tinto-malbec;
}
.mensaje-whatsapp{
    grid-area: whatsapp;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: v.$blanco solid 1px;
    padding: 2rem;
    background-color: v.$tinto-malbec;
}
.mensaje-email{
    grid-area: email;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: v.$blanco solid 1px;
    padding: 2rem;
    background-color: v.$tinto-malbec;
}