@use "../utilities/variables" as v;
@use "../utilities/mixins" as m;
@use "../base/tipografias";
@use "../components/introduccion";

main{
    width: 100%;
    height: auto;
}


// CSS PAGINA "PROYECTOS" (CATALOGO)
.card-group .card img{
    width: 7rem;
}
.card-text .text-body-secondary{
    color: v.$negro;
}
.card a{
    color: v.$negro;
    text-decoration: none;
}

.card-wine{
    background-color: v.$tinto-malbec;
    color: v.$negro;
}
.card-beer{
    background-color: v.$madera-roble;
    color: v.$negro;
}

.card-aperitivos{
    background-color: v.$gris-carbon;
    color: v.$negro;
}